APP_NAME="myapp"
APP_USERNAME="myappuser"
APP_PASSWORD="changeit"
HUE_USERNAME="changeit"
SLACK_TOKEN="changeit"
SLACK_USERNAME="myapp-monitoring"
HUE_LIGHTS_COUNT=3
HUE_MONITOR_LIGHTS_IDS=1
APP_URLS="https://myapp.comwork.io,https://myapi2.comwork.io"
ENABLE_MONITORING=true
